nav {
    margin: 0;
    background-color: black;
    height: 100px;
    width: 100%;
}
.logo a {
    color: #fff;
    text-decoration: none;
}
.logo {
    margin: 0;
    padding: 3px;
    text-align: center;
    font-size: 2em;
    animation: bounce 5s ease;
    overflow: hidden;
}
@keyframes bounce {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0);
    }
}
header {
    background-image: url(../imgs/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: block;
    height: 80vh;
}
.presentacion {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    padding: 15px;
}
button a {
    text-decoration: none;
}
main {
    background-color: black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.descripcion a {
    text-decoration: none;
    padding-left: 100px;
    color: #fff;
    transition: color 1s steps(3);
}
#card {
    display: flex;
    border: solid 1px black;
    background-color: rgba(87, 87, 87, 0.51);
    color: #fff;
    width: 400px;
    align-items: center;
    transition: background-color 1s steps(3), color 1s steps(3);
}
#card img {
    padding: 30px;
    width: 150px;
    border-radius: 50%;
}
#card:hover {
    background-color: #fbf714;
    color: #000;
}
#card a:hover {
    color: #000;
}
footer{
    background-color: #fbf714;
    margin-top: 0px;
    padding: 20px;
    text-align: center;
}
.pie-de-pagina i {
    padding: 15px;
}
.pie-de-pagina a:link, :visited, :active  {
    color: #000;
}
.pie-de-pagina a:hover {
    color:#fff;
    box-shadow: 0 15px 15px 0 #caf553;
    padding-bottom: 5px;
}
.pie-de-pagina p {
    font-size: 1.5em;
}
